.published-Post{
  margin: 4em;
}

.published-Post h2{
  text-align: center;
}

.published-Post .date{
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  font-size: .8em;
  text-align: right;
}

.published-Post .content{
  width: 60%;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  border-left: 2px solid gray;
}

.template {
  display: none;
}
