.published-Post{
  margin: 4em;
}

.published-Post h2{
  text-align: center;
}

.published-Post .date{
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  font-size: .8em;
  text-align: right;
}

.published-Post .content{
  width: 60%;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  border-left: 2px solid gray;
}

.template {
  display: none;
}

datalist{
  overflow: scroll;
  height: 20px;
}

#riken-form{
  width: 80%;
  margin: auto;
  max-width: 550px;
}

#riken-form label{
  display: block;
  width: 100%;
  margin: 20px;
}

#riken-form input{
  display: inline-block;
  width: 60%;
  margin: 20px;
}



#add-author-button{
  display: inline;
}

#create-post-button{
  position:fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
}

#create-new-post{
  position: fixed;
  right:-330px;
  top:50%;
  background-color:#7A6A53;
}

#toggleform{
  width: 10%;
  float: left;
  height: 200px;
}

#new-blog-form{
  width: 80%;
  float: left;
}


form #article-body{
  margin-left:30px;
}

#create-new-post input{
  display: block;
}



.
